<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center d-flex">
            <a class="navbar-brand" href="#">
                <img src="../assets/subtract.png" width="200" height="70" class="p-3"
                    [style]="{'margin-right' : '290px'}" alt=>
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Home <i class="bi bi-house"> </i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/profile">Profile <i class="bi bi-person"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " routerLink="/writing">Write a Post <i class="bi bi-pencil"></i></a>
                    </li>
                </ul>

            </div>
        </nav>

    </header>
    <div class="container d-flex justify-content-center p-5">
        <div class="mr-8">
            <p class="fs-1 fw-light mt-4 uppercase"> 
                Hi I'm   {{username}} 
             </p>
            <p class="fs-3 fw-lighter">Welcome to my Profile </p>
            <p class="fs-5 fw-lighter"> I'm a Software Engineer and a Web Developer, <br>
                I'm passionate about developing web applications and learning new technologies .</p>
            <button class="btn btn-outline-secondary"> Discover my Posts <i class="bi bi-arrow-bar-down"></i></button>
        </div>
        <div class="mt-2">
            <img src="../assets/prfl.png" width="300px" class="rounded-circle">
        </div>

    </div>
    <div class="container-fluid bg-bluegray-100 p-5">
        <p class="text-center fw-light fs-1"> My Recents Posts </p>
        <div class="cardComp">
            <div class="card" *ngFor="let a of articles_user">
                <div class="card-body">
                    <p class="card-title text-center fs-5 fw-bold uppercase">{{a.titre}}</p>
                    <p class="fs-4 fw-light"><span class="badge bg-secondary">{{a.categorie.nom}}</span></p>
    
                    <button (click)="showDetails(a.id)" type="button" class="btn btn-outline-secondary fw-light">Read full Article <i
                            class="bi bi-arrow-bar-right"></i></button>
                </div>
                <br>
            </div>
        </div>
    </div>
    <footer class="text-center bg-body-tertiary">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"><i
                        class="bi bi-facebook"></i></a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"><i
                        class="bi bi-twitter-x"></i></a>

                <!-- Google -->
                <a class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"><i
                        class="bi bi-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"><i
                        class="bi bi-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"><i
                        class="bi bi-linkedin"></i></a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"><i
                        class="bi bi-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024
            <a class="text-body" href="#">X-Large.com</a>
        </div>
        <!-- Copyright -->
    </footer>

</body>