@import '~bootstrap/dist/css/bootstrap.min.css';

.section
{
    background-image: url('/assets/blog2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
}

.cardComp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; 
    margin: 50px;
    padding: 40px;
}