

<div class="container-fluid d-flex justify-content-center login-form p-5 ">
  <div class="title">
    <p class="fs-1 fw-bold text-dark ">  Welcome to X-Large </p>
      <p class="fs-3 fw-light text-dark">  The best place to share your Tech <br> thoughts and projects with the world </p>
  </div>

  <div>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <p-card header="Login" [style]="{'width' : '450px' , 'margin-right': '20px' ,'margin-top': '60px' }">
        <div class="field">
          <label for="username">Username</label>
          <input
            type="text"
            pInputText
            formControlName="username"
            class="w-full"
            name="username"
            placeholder="Type your username"
          />
          <small
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="block p-error"
          >
            <div *ngIf="username.errors?.['required']">username is required.</div>
           
          </small>
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input
            type="password"
            pInputText
            formControlName="password"
            class="w-full"
            name="password"
            placeholder="Type your password"
          />
          <small
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="block p-error"
          >
            <div *ngIf="password.errors?.['required']">Password is required.</div>
          </small>
        </div>
        <p-button
          label="SIGN IN"
          styleClass="w-full"
          [disabled]="loginForm.invalid"
          severity="secondary"
          type="submit"
        ></p-button>
        <div class="mt-2">Not a member? <a routerLink="/register" class="text-secondary text-decoration-none fw-bold">Register</a></div>
      </p-card>
    </form>
  </div>
        
    

</div>
