@import '~bootstrap/dist/css/bootstrap.min.css';

.login-form {
  background-image: url('/assets/blog4.jpg');  
  /* Set background size to cover the entire container */
  background-size: cover;
  /* Set background repeat to no-repeat */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.footer {
    background-color: #f8f9fa;
    padding: 18px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.title
{
   color: #fff;
   margin-top: 180px;
   margin-right: 50px ;
}